.nav--header, .btn--small {
  font-size: 15px;
  line-height: 20px; }

.btn--white, .btn--white-fill, .btn--fill, .btn--fill-noborder {
  border-radius: 30px;
  font-weight: 800;
  color: #ffffff; }

.circle {
  display: flex;
  border-radius: 50%; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #1f2d41; }

a:hover {
  text-decoration: none; }

.pl-90 {
  padding-left: 90px; }

.ml-32 {
  margin-left: 32px; }

.header {
  display: block;
  background: url("../img/header/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }
  .header__nav {
    flex-direction: row;
    padding: 69px 0 30px;
    align-items: flex-end; }
  .header__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.33;
    margin-right: 135px; }
  .header__text {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.67; }
  .header__content {
    padding: 109px 0 262px;
    position: relative; }
  .header__right {
    margin-right: 422px; }
  .header__button {
    padding-top: 57px; }
  .header__img {
    position: absolute;
    width: 65%;
    right: -25%;
    top: 0%; }

.wrap {
  background-image: url("../../img/header/background.png");
  width: 1120px;
  margin: 0 auto; }

.footer {
  background: url("../img/sec2/background_sec2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #eff3f9; }
  .footer__card {
    transform: translateY(-50%); }
  .footer__wrapbtn {
    padding: 70px 0 112px; }
  .footer__hr {
    display: block;
    height: 1px;
    background-color: #dbd9d9; }
  .footer__img {
    width: 282.4px; }
  .footer__text {
    padding-top: 31px;
    color: #1f2d41;
    line-height: 1.63;
    font-weight: 600;
    padding-right: 224px; }
  .footer__link-detail {
    list-style-type: none;
    padding-left: 0; }
  .footer__link-detail li {
    font-weight: 600;
    padding: 10px 0;
    color: #1f2d41; }
  .footer__social {
    display: block;
    padding-top: 20px;
    font-size: 20px; }
  .footer__social i {
    color: #c7c7c7; }
  .footer__bottom {
    padding-top: 72px; }

.nav--header {
  font-weight: 600;
  color: #ffffff;
  align-items: center;
  width: 712px;
  justify-content: space-between; }

.nav-brand__pic {
  display: block;
  width: 282.4px; }

.btn--white {
  border: 1px solid #ffffff; }
.btn--white-fill {
  background-color: #ffffff;
  color: #1f2d41; }
.btn--small {
  padding: 5px 23px; }
.btn--fill {
  background-color: #44b4b8;
  border: 1px solid #ffffff; }
.btn--fill-noborder {
  background-color: #44b4b8; }
.btn--big {
  font-size: 16px;
  font-weight: 800;
  padding: 12px 40px; }

.sec1 {
  padding: 153px 0 101px;
  background: url("../img/sec1/background_sec1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #eff3f9; }

.sec2 {
  color: #1f2d41;
  background: url("../img/sec2/background_sec2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  padding: 261px 0 409px;
  background-color: #1f2d41; }
  .sec2__text {
    width: 736px;
    color: #1f2d41;
    font-size: 26px;
    font-weight: bold;
    line-height: 50px;
    display: inline-block; }
  .sec2__img {
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%); }
  .sec2__textPink {
    color: #ef6d7a; }

.sec3 {
  background: url("../img/sec3/background_sec3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }
  .sec3__money {
    display: flex;
    justify-content: space-between;
    transform: translateY(-35%); }
  .sec3__title {
    color: #ffffff;
    padding: 84px 0 73px;
    font-size: 36px;
    line-height: 0.83; }
  .sec3__button {
    display: inline-block;
    padding-bottom: 112px; }

.sec4 {
  background: url("../img/sec1/background_sec1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #eff3f9; }
  .sec4__people {
    padding: 211px 0 260px; }

.about__text {
  color: #1f2d41; }
.about__textImg {
  color: #44b4b8;
  font-size: 18px;
  padding: 42px 0 22px; }
.about__title {
  font-size: 24px;
  padding-bottom: 26px; }
.about__box {
  padding: 0 20px; }

.money {
  background-color: #ffffff;
  color: #1f2d41;
  border-radius: 20px;
  flex: none;
  width: 352px; }
  .money__title {
    font-size: 48px;
    font-weight: 400;
    padding: 50px 0 30px;
    line-height: 1; }
  .money__title-small {
    font-size: 24px; }
  .money__list {
    line-height: 3.13;
    padding: 0 18px; }
  .money__item {
    list-style-type: none; }
  .money__icon {
    color: #ef6d7a;
    font-size: 21px;
    margin-right: 11px; }
  .money__button {
    padding: 30px 0 50px; }

.people {
  padding-right: 90px; }
  .people__img {
    width: 95px; }
  .people__des {
    width: 448px;
    padding: 41px 0;
    color: #44b4b8;
    font-weight: bold; }
  .people__author {
    font-size: 18px;
    line-height: 1.67;
    color: #1f2d41;
    font-weight: bold; }
  .people__pos {
    color: #c7c7c7;
    font-weight: bold;
    line-height: 1.88; }

.people:first-child {
  border-right: 2px solid #eff3f9; }

.circle__turquoise {
  background-color: #44b4b8; }
.circle__pink {
  background-color: #ef6d7a; }
.circle__big {
  width: 111px;
  height: 111px; }
.circle__small {
  width: 101px;
  height: 101px; }

.cards {
  background-color: #ffffff;
  border-radius: 20px;
  flex-basis: 0;
  box-shadow: 10px 0 10px 0 rgba(218, 218, 218, 0.25); }
  .cards__wrap {
    display: flex;
    padding: 43px 39px 28px; }
  .cards__text {
    color: #1f2d41;
    font-weight: bold;
    width: 338px;
    padding-left: 34px; }

.textdes__title {
  font-size: 18px;
  line-height: 1.67;
  color: #1f2d41;
  font-weight: bold; }
.textdes__sub {
  color: #c7c7c7;
  font-weight: bold;
  line-height: 1.88; }

/*# sourceMappingURL=cbet.css.map */
