.footer {
	background: url("../img/sec2/background_sec2.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-color: $gray;

	&__card {
		transform: translateY(-50%);
	}

	&__wrapbtn {
		padding: 70px 0 112px;
	}

	&__hr {
		display: block;
		height: 1px;
		background-color: $gray-dark;
	}

	&__img {
		width: 282.4px;
	}

	&__text {
		padding-top: 31px;
		color: $black;
		line-height: 1.63;
		font-weight: 600;
		padding-right: 224px;
	}

	&__link-detail {
		list-style-type: none;
		padding-left: 0;
	}

	&__link-detail li {
		font-weight: 600;
		padding: 10px 0;
		color: $black;
	}

	&__social {
		display: block;
		padding-top: 20px;

		font-size: 20px;
	}

	&__social i {
		color: $gray-light;
	}

	&__bottom {
		padding-top: 72px;
	}
}
