.header {
	//background-color: red;
	display: block;
	background: url("../img/header/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	&__nav {
		flex-direction: row;
		padding: 69px 0 30px;
		align-items: flex-end;
	}

	&__title {
		font-size: 60px;
		font-weight: 800;
		line-height: 1.33;
		margin-right: 135px;
	}

	&__text {
		font-size: 36px;
		font-weight: 600;
		line-height: 1.67;
	}

	&__content {
		padding: 109px 0 262px;
		position: relative;
		// background-repeat: no-repeat;
		// background-image: url("../img/header/image_header.png");
		// background-position: 1041px 0px;
		// background-size: 42% auto;
	}

	&__right {
		margin-right: 422px;
	}

	&__button {
		padding-top: 57px;
	}

	&__img {
		position: absolute;
		width: 65%;
		right: -25%;
		top: 0%;
	}
}
.wrap {
	background-image: url("../../img/header/background.png");
	width: 1120px;
	margin: 0 auto;
}
