.about {
	&__text {
		color: $black;
	}

	&__textImg {
		color: $turquoise;
		font-size: 18px;
		padding: 42px 0 22px;
	}

	&__title {
		font-size: 24px;
		padding-bottom: 26px;
	}

	&__box {
		padding: 0 20px;
	}
}
