.btn {
	&--white {
		@extend %btn;
		border: 1px solid $white;
	}

	&--white-fill {
		@extend %btn;
		background-color: $white;
		color: $black;
	}

	&--small {
		@extend %font;
		padding: 5px 23px;
	}

	&--fill {
		@extend %btn;
		background-color: $turquoise;
		border: 1px solid $white;
	}

	&--fill-noborder {
		@extend %btn;
		background-color: $turquoise;
	}

	&--big {
		font-size: 16px;
		font-weight: 800;
		padding: 12px 40px;
	}
}
