.cards {
	background-color: $white;
	border-radius: 20px;
	//width: 48.5%;
	//display: flex;
	flex-basis: 0;
	//flex: none;
	box-shadow: 10px 0 10px 0 rgba(218, 218, 218, 0.25);

	&__wrap {
		display: flex;
		padding: 43px 39px 28px;
	}

	&__text {
		color: $black;
		font-weight: bold;
		width: 338px;
		padding-left: 34px;
	}
}
