.circle {
	@extend %circle;
	&__turquoise {
		@include circleColor($turquoise);
	}

	&__pink {
		@include circleColor($pink);
	}

	&__big {
		@include circleSize(111px);
	}

	&__small {
		@include circleSize(101px);
	}
}
