.money {
	background-color: $white;
	color: $black;
	border-radius: 20px;
	flex: none;
	width: 352px;
	// position: absolute;
	// top: -20%;

	&__title {
		font-size: 48px;
		font-weight: 400;
		padding: 50px 0 30px;
		line-height: 1;
	}

	&__title-small {
		font-size: 24px;
	}

	&__list {
		line-height: 3.13;
		padding: 0 18px;
	}

	&__item {
		list-style-type: none;
	}

	&__icon {
		color: $pink;
		font-size: 21px;
		margin-right: 11px;
	}

	&__button {
		padding: 30px 0 50px;
	}
}
