.nav {
	&--header {
		@extend %font;
		font-weight: 600;
		color: $white;
		align-items: center;
		width: 712px;
		justify-content: space-between;
	}
}

.nav-brand {
	&__pic {
		display: block;
		width: 282.4px;
	}
}
