.people {
	padding-right: 90px;
	&__img {
		width: 95px;
	}

	&__des {
		width: 448px;
		padding: 41px 0;
		color: $turquoise;
		font-weight: bold;
	}

	&__author {
		font-size: 18px;
		line-height: 1.67;
		color: $black;
		font-weight: bold;
	}

	&__pos {
		color: $gray-light;
		font-weight: bold;
		line-height: 1.88;
	}
}

.people:first-child {
	border-right: 2px solid $gray;
}
