.sec3 {
	background: url("../img/sec3/background_sec3.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	&__money {
		display: flex;
		justify-content: space-between;
		transform: translateY(-35%);
	}

	&__title {
		color: $white;
		padding: 84px 0 73px;
		font-size: 36px;
		line-height: 0.83;
	}

	&__button {
		display: inline-block;
		padding-bottom: 112px;
	}
}
