.sec2 {
	color: $black;
	background: url("../img/sec2/background_sec2.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	position: relative;
	padding: 261px 0 409px;
	background-color: $bg-dark;

	&__text {
		width: 736px;
		color: $black;
		font-size: 26px;
		font-weight: bold;
		line-height: 50px;
		display: inline-block;
	}

	&__img {
		position: absolute;
		width: 40%;
		top: 50%;
		transform: translateY(-50%);
	}

	&__textPink {
		color: $pink;
	}
}
