.sec1 {
	padding: 153px 0 101px;
	background: url("../img/sec1/background_sec1.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-color: $gray;
}
