.sec4 {
	background: url("../img/sec1/background_sec1.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-color: $gray;
	&__people {
		padding: 211px 0 260px;
	}
}
