* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	color: $black;
	//background-color: $white;
}

a:hover {
	//color: $pink;
	text-decoration: none;
}

.pl-90 {
	padding-left: 90px;
}

.ml-32 {
	margin-left: 32px;
}
